// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

$btnTwitterBackground:              #2daddc;
$btnTwitterBackgroundHighlight:     #0271bf;
$btnGooglePlusBackground:           #dd4b39;
$btnGooglePlusBackgroundHighlight:  #c53727;
$btnGithubBackground:               #fafafa;
$btnGithubBackgroundHighlight:      #ccc;

// Social buttons
// --------------------------------------------------

.btn-twitter {
  @include button-variant($btnText, $btnTwitterBackground, $btnTwitterBackgroundHighlight);
}
.btn-google-plus {
  @include button-variant($btnText, $btnGooglePlusBackground, $btnGooglePlusBackgroundHighlight);
}
.btn-github {
  @include button-variant($btnTextAlt, $btnGithubBackground, $btnGithubBackgroundHighlight);
}
